.clients {
  display: flex;
}
.clients .clients-custom {
  padding-top: 95px;
  padding-bottom: 95px;
}
.clients .clients-title {
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42px / 36px);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.clients .clients-list {
  display: flex;
}
.clients .clients-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms;
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}
.clients .clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-icon {
  width: 106px;
  height: 60px;
  /* margin: 16px 32px 16px 32px; */
  fill: #afb1b8;
  transition: fill 250ms;
  .clients .clients-bg:hover &,
  .clients .clients-bg:focus & {
    fill: var(--accent-color);
  }
}
