.footer {
  background-color: #2f303a;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}
.footer .list {
  padding: 0;
  display: inline-block;
}
.footer .footer-flex {
  display: flex;
  align-items: baseline;
}
.footer .adress {
  color: var(--primeri-bg-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
}
.footer .list-items + .list-items {
  margin-top: 9px;
}
.footer .contact {
  padding: 0 0 0 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
  transition: color 250ms;
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

/* social-network */
.social-network {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}
.social-network .title {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16px / 12px);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primeri-bg-color);
  margin-bottom: 20px;
}
.footer .social-network .items + .items {
  margin-left: 10px;
}
.footer .adress {
  display: flex;
  flex-direction: column;
}
.footer .social-network .list {
  display: flex;
}
.footer .social-network .icon {
  width: 20px;
  height: 20px;
  fill: var(--primeri-bg-color);
}
.social-network .link {
  display: flex;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.form-subscribe {
  display: flex;
  position: relative;
  margin-left: 93px;
}
.form-subscribe .subscribe-window-cont {
  display: flex;
  flex-direction: column;
}
.form-subscribe .form-container {
  position: relative;
  display: flex;

  min-width: 574px;
}
.form-subscribe .subscribe-text {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primeri-bg-color);
}
.form-subscribe .subscribe-b {
  margin-left: 12px;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;

  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(38 / 16);
  letter-spacing: 0.06em;
  color: var(--primeri-bg-color);
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.form-subscribe .window-mail {
  background-color: transparent;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primeri-bg-color);
  padding-left: 30px;
}

.form-subscribe .icon-send {
  width: 24px;
  height: 24px;
  fill: var(--primeri-bg-color);
  margin-left: 10px;
}
